.header_wrapper {
    float: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.79);
    z-index: 9;
    position: relative;
}

.m_logo {
    width: 100%;
}

.m_logo img {
    height: 57px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 43px 20px;
    font-weight: 600;
    color: #333;
}

.navbar-expand-lg {
    padding: 0;
}

.navbar-nav a.active,
.navbar-nav a:hover,
.navbar-nav .nav-link.active {
    background: #f07677;
    color: #ffffff;
}

.menu_fixed {
    position: fixed;
    z-index: 1000;
    padding: 0px 0px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -o-box-shadow: 0px 0px 25px -10px;
    -ms-box-shadow: 0px 0px 25px -10px;
    -moz-box-shadow: 0px 0px 25px -10px;
    -webkit-box-shadow: 0px 0px 25px -10px;
    box-shadow: 0px 0px 25px -10px;
}

@media screen and (max-width: 992px) {
    .m_logo img {
        height: 57px;
        width: 300px;
        padding: 5px 0;
    }
}

@media screen and (max-width: 992px) {
    .m_logo img {
        height: 40px;
        width: 200px;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        right: 0;
        z-index: 1;
        background: #fff;
        top: 50px;
    }
    .navbar-collapse a.nav-link {
        padding: 7px 10px !important;
    }
}